* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

.card {
	background-color: grey;
	width: 400px;
	height: 400px;
    margin: 100px;
	box-shadow: 0px 0px 20px #aaa;
	border-radius: 8px;
	border: 1px solid #ccc; 
	cursor: pointer;

}

img{
    max-width: 100%;
    border-radius: 8px;
	border: 1px solid #ccc; 
	cursor: pointer;

}

.padre_relativo{
    position: relative;
    border: 2px solid yellow;
    top: 10px;
	left: 45%;
    top: 0;
    right: 0;
}

.hijo_absoluto{
	color: aqua;
    position: absolute;
    width: 400px;
	height: 400px;
	border: 1.5px solid pink;
	position: absolute;
	top: 0;
	right: 0;
}

/* sugerencias: */
/* - hacer al card, padre relativo */
/* - hacer al span, hijo absoluto y posicionarlo */
/* - hacer que el card mida también 400*600  */
/* para no tener incongruencias con la imagen */
/* - procurar darle sombra, borde, centrar al padre */
/* */